/* .subInner-conteiner {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  gap: 20px;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  background-color: var(--white);
  z-index: 10;
  position: relative;
  padding: 40px 0px;
}

.subInner {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  gap: 20px;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  background-color: var(--white);
  z-index: 10;
  position: relative;
  padding: 2rem 0px;
}

.subInner-info-text {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 97%;
  background-color: var(--white);
  z-index: 10;
  position: relative;
  padding: 0px 0px;
}

.back {
  text-align: center;
  color: var(--black);
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  height: 45px;
  padding: 10px 10px;
}

.back:hover {
  animation: back 1s infinite;
}

@keyframes back {
  0% {
    color: var(--black);
  }
  50% {
    color: var(--grey) 90%;
  }
  100% {
    color: var(--black);
  }
}

.scroll {
  position: fixed;
  top: 40px;
  left: 40px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 11;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  font-size: 34px;
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  -webkit-align-self: center;
  align-self: center;
}

.subInner-section {
  display: -webkit-flex;
  display: flex;
  width: 20%;
  height: 300px;
}

.subInner-section-img {
  width: 100%;
  height: 100%;
  box-shadow: 1px 1px 8px 1px var(--black);
  border-radius: 20px;
  background-color: var(--white);
}

.subInner-section-img:hover {
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
  cursor: pointer;
  border: 1px solid var(--white);
}

.text-sku {
  color: var(--black);
  margin-left: 10px;
  font-size: 12px;
}

.text-scu > span {
  color: var(--black);
  margin-left: 10px;
  font-size: 10px;
}
.text-price {
  color: var(--black);
 
  font-size: 12px;
}

.subInner-section-img > img,
.subInner-section-img > video {
  width: 100%;
  height: 90%;
  border-radius: 18px;
}

.subBack {
  padding-left: 35px;
  font-size: 20px;
  color: var(--white);
}

/* MODAL */

/* .modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--grey);
  z-index: 1000;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.modal-content {
  background-color: var(--grey);
  max-width: 100vw;
  width: 100%;
  height: auto !important;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-content: center;
  align-content: center;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: center;
  align-items: center;
 
}
.modal-title {
  font-size: 32px;
  color: var(--black);
  font-weight: 400;
}
.modal-title > span {
  font-size: 36px;
  color: var(--black);
  font-weight: 700;
}
.close {
  color: var(--black);
  font-size: 45px;
  text-align: center;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--white);
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: fixed;
  top: 29px;
  right: 16px;
  border: 1px solid var(--black);
  z-index: 20;
}

.close:hover {
  animation: close 0.5s ease-in-out;
}

@keyframes close {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

.modal-img {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  gap: 10px;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}

.modal-video {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.modal-video > video {
  width: 450px;
  height: 500px;
  border-radius: 10px;
}

.modal-img > img {
  width: 400px;
  height: 400px;
  border-radius: 10px;
}

.modal-info {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: center;
  justify-content: center;
  gap: 5px;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 25px;
}

.modal-info > p {
  color: var(--black);
  font-size: 2.5rem;
  margin-bottom: 3px;
}
.modal-info > p > span {
  font-size: 28px;
  font-weight: 600;
  color: var(--black);
}

.modal-info > h2 {
  color: var(--black);
  font-size: 30px;
  margin-bottom: 3px;
}

.like-button {
  position: absolute;
  top: 5px;
  left: 60px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-color: initial;
  font-size: 30px;
  place-self: center;

  border: 1px solid var(--black);
}

.heart {
  position: absolute;
  top: 27px;
  right: 75px;
  cursor: pointer;
  width: 10px;
  height: 10px;
}

.heart:hover {
  animation: beat 0.6s infinite;
}

.modal-open1 {
  overflow-y: hidden;
}

.modal-open {
  overflow-y: hidden;
  width: 100%;
}

.no-background {
  display: none;
}

@keyframes beat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@media (max-width: 1000px) {
  .subInner-conteiner {
    padding: 20px 0px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    gap: 20px;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    background-color: var(--white);
    z-index: 10;
    position: relative;
  }

  .subInner {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    gap: 10px;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    background-color: var(--white);
    z-index: 10;
    position: relative;
    margin-top: 2rem;
  }

  .subInner-section {
    display: -webkit-flex;
    display: flex;
    width: 200px;
    height: 230px;
  }

  .subInner-section-img {
    width: 90%;
    height: 100%;
  }

  .subInner-section-img > img {
    width: 100%;
    height: 75%;
  }
} */

/* @media (max-width: 580px) {
  
  .modal {
    width: 100%;
    height: 1000px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .modal-title {
    display: -webkit-flex;
    display: flex;
   
    width: 100%;
    position: relative;
    padding: 10px 0px;
    color: var(--black);
    top: 30px;
    font-size: 2.6rem;
  }

  .modal-title > span {
    font-size: 32px;
    color: var(--black);
  }

  .modal-content {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;

    height: auto !important;

    gap: 10px;
    width: 100%;
    background-color: var(--grey);
    z-index: 100;
    position: relative;

    top: 0;
  }

  .modal-info {
    width: 100%;
    
  }

  .modal-img {
    width: 300px;
    height: 300px;
    
    padding: 0px 10px;
  }

  .modal-img > img {
    width: 270px;
    height: 270px;
  }

  .modal-video {
    width: 100%;

    padding: 0px 10px;
  }

  .modal-video > video {
    width: 100%;
    height: 100%;
  }

  .subInner-conteiner {
    padding: 20px 0px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    gap: 20px;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    background-color: var(--white);
    z-index: 10;
    position: relative;
  }

  .subInner {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    gap: 10px;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    background-color: var(--white);
    z-index: 10;
    position: relative;
    margin-top: 2rem;
  }

  .subInner-section {
    display: -webkit-flex;
    display: flex;
    width: 200px;
    height: 200px;
  }

  .subInner-section-img {
    width: 100%;
    height: 100%;
  }

  .subInner-section-img > img {
    width: 100%;
    height: 85%;
  }

  .subBack {
    padding-left: 10px;
    font-size: 20px;
    color: var(--white);
  }

  .heart {
    position: absolute;
    top: 20px;
    right: 60px;
    cursor: pointer;

    width: 10px;
    height: 10px;
  }

  .subInner-info-text {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    height: 27px;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    background-color: var(--white);
    z-index: 10;
    position: relative;
    padding: 0px 0px;
    -webkit-flex-direction: row;
    flex-direction: row;
    border-radius: inherit;
  }
}

@media (min-width: 200px) and (max-width: 410px) {
  .subInner-conteiner {
    padding: 20px 0px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    gap: 20px;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    background-color: var(--white);
    z-index: 10;
    position: relative;
  }

  .subInner {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    gap: 10px;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    background-color: var(--white);
    z-index: 10;
    position: relative;
    margin-top: 2rem;
  }

  .subInner-section {
    display: -webkit-flex;
    display: flex;
    width: 47%;
    height: 200px;
  }

  .subInner-section-img {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .subInner-section-img > img {
    width: 130px;
    height: 130px;
    border-radius: 18px 18px 8px 8px;
  }

  .subBack {
    padding-left: 10px;
    font-size: 20px;
    color: var(--white);
  }
  .text-price {
    font-size: 13px;
  }
  .subInner-info-text {
    display: -webkit-flex;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: flex-start; 
    padding: 8px 12px;
    background-color: var(--white);
    border-radius: inherit;
    height: 25%; 
    position: relative;
    z-index: 10;
  }
}  */

/* NEW PRODUCTS */

/* Контейнер */
.product-page {
  padding:0px 50px ;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
 
}

/* Основний блок */
.modal-content {
      display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
    align-content: center;
    justify-content: space-between;
    gap: 50px;
   
}

/* Заголовок */
.modal-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

/* Головне зображення/відео */
.main-media {
  width: 100%;
  max-width: 600px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-img,
.main-video {
  width: 570px;

  height: 570px;
  border-radius: 8px;
  object-fit: contain;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

/* Галерея прев’ю */
.media-thumbnails {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

.thumbnail {
  width: 80px;
  height: 80px;
  border: 2px solid transparent;
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;
  transition: border 0.2s ease, transform 0.2s ease;
}

.thumbnail:hover {
  transform: scale(1.05);
}

.thumbnail.active {
  border: 4px solid rgb(90, 18, 18); /* синя рамка для активного */
}

.thumbnail-img,
.thumbnail-video {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

/* Іконка для відео */
.thumbnail-video {
  width: 80px;
  height: 80px;
  object-fit: cover;
  position: relative; 
  background-color: black; /* Для наочності */
}

.thumbnail-video::before {
  content: "▶";
  position: absolute;
  color: rgb(90, 18, 18);
  font-size: 20px;
  top: 50%;
  left: 50%;
  transform: scale(1.2) translate(-50%, -50%);
  text-shadow: 0 0 5px rgba(0,0,0,0.8);
  display: none;
  z-index: 10; 
  cursor: pointer;
}

.thumbnail-video:hover::before {
  display: block;
}



/* Інфо про товар */
.modal-info {
 
  text-align: left;
  width: 100%;
height:   auto;
  
  font-size: 16px;
  line-height: 1.5;
}
.modal-info>.product_page_text{
  
  align-items: flex-start;
}
.main_section1_text h2{
  font-family: var( --fontFamily_h1);
  font-size: 34px;
  font-weight: 600;
  color: var(--black);
  margin-bottom: 10px;
}
.main_section1_text>h2> span{
  font-family: var( --fontFamily_h1);
  font-size: 34px;
  font-weight: 500;
font-style: italic;
  color: #8E1145;
  margin-bottom: 10px;
}
.main_section1_text>span{
  font-family: var(--fontFamily_Inter);
  font-size: 16px;
  font-weight: 400;

  
  margin-bottom: 10px;
}
.modal_characteristic{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  text-align: left;
  width: 100%;
  height: auto;
  font-size: 16px;
  line-height: 1.5;
}

/* .modal-info span {
  font-weight: bold;
} */

/* Лайк */
.heart {
  margin-top: 20px;
  cursor: pointer;
}

.heart img {
  transition: transform 0.2s ease;
}

.heart:hover img {
  transform: scale(1.2);
}

.modal_conteiner_img{
      display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    max-width: 570px;
}

.modal_characteristic span{
font-size: 16px;
font-weight: 400;
font-family: var(--fontFamily_Inter);
color:#777777 ;
}

.modal_characteristic_btn{
  width: fit-content;
}
.modal_characteristic h3{
  font-family: var(--fontFamily_Inter);
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}
.modal_characteristic p{
  font-family: var(--fontFamily_Inter);
  font-size: 16px;
  font-weight: 400;
}
